{% extends 'AppBundle::base.html.twig' %}

{% block head_javascripts %}
    {{ parent() }}

    {% set entitySettingData = render(controller(
        'BckEntitiesBundle:EntitySetting:data',
        {'responseType': 'json'}
    )) %}

    {% set clientSettingData = render(controller(
        'BckEntitiesBundle:ClientSetting:data',
        {'responseType': 'json'}
    )) %}

    {% set supplierSettingData = render(controller(
        'BckEntitiesBundle:SupplierSetting:data',
        {'responseType': 'json'}
    )) %}
    <script>
        _app.dependencies.entitySetting = {{ entitySettingData|raw }};
        _app.dependencies.clientSetting = {{ clientSettingData|raw }};
        _app.dependencies.supplierSetting = {{ supplierSettingData|raw }};
    </script>
{% endblock %}

{% block header %}{% endblock %}

{% block body_container %}
    <div class="js_appBasics"></div>
    <div id="js_main"></div>
{% endblock %}

{%  block javascripts %}
    {% javascripts output="assets/admin/settings/index/js/local.js"
        '@BckAdminBundle/Resources/public/settings/index/ts/dist/inline.bundle.js'
        '@BckAdminBundle/Resources/public/settings/index/ts/dist/polyfills.bundle.js'
        '@BckAdminBundle/Resources/public/settings/index/ts/dist/vendor.bundle.js'
        '@BckAdminBundle/Resources/public/settings/index/ts/dist/main.bundle.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}