{% set entityDetail_status = (entityDetail_status is defined ? entityDetail_status : true) %}
<ng-template [ngIf]="_object && _object['id']">
    <div class="container-fluid py-3"><div class="row">
            <div class="col"
                 {% if entityDetail_status %}
                     [class.col-md-9]="hasInsertInfo"
                     [class.col-md-12]="!hasInsertInfo"
                 {% else %}
                     [class.col-md-12]="true"
                 {% endif %}>
            <div class="row" *ngIf="!_object['_isSessionStorage'] && (_object['code'] || _object['name'])">
                <h2 class="col-12 valign-div-container"><span *ngIf="_object['code']" [innerHTML]="_object['code']"></span><span *ngIf="_object['code'] && _object['name']">&nbsp;&nbsp;@&nbsp;&nbsp;</span><span *ngIf="_object['name']" [innerHTML]="_object['name']"></span>{% block entityDetail_actions %}<a
                        *ngIf="_actionsService.getActionAttr('edit', 'isEnabled')"
                        [ngClass]="[_actionsService.getActionAttr('edit', 'icon')]"
                        class="action valign-div-component valign-div-component-middle -round fa"
                        (click)="editAction($event, 'edit')"></a>{% endblock %}</h2>
            </div>
            <div class="row">
                <ng-template ngFor let-field [ngForOf]="_fields['view']">
                    <div class="col col-md-6"
                         *ngIf="!_helperService.inArray(field, ['id', 'code', 'name', 'isEnabled', 'insertTime', 'insertUser']) && _object[field]">
                        <p *ngIf="_helperService.inArray(_fields['metadata'][field]['type'], ['number', 'percentage', 'monetary', 'icon'])"><strong>{% verbatim %}{{ getLang(_fields['metadata'][field]['label']) }}{% endverbatim %}</strong>:&nbsp;<span [innerHTML]="_object[field]"></span></p>
                        <p *ngIf="_helperService.inArray(_fields['metadata'][field]['type'], ['boolean', 'status'])"><span [innerHTML]="_object[field]"></span>&nbsp;<strong>{% verbatim %}{{ getLang(_fields['metadata'][field]['label']) }}{% endverbatim %}</strong></p>
                        <p *ngIf="_helperService.inArray(_fields['metadata'][field]['type'], ['avatar', 'img'])"><span [innerHTML]="_object[field]"></span></p>
                        <p *ngIf="!_helperService.inArray(_fields['metadata'][field]['type'], ['number', 'percentage', 'monetary', 'status', 'icon', 'boolean', 'avatar', 'img'])"><strong>{% verbatim %}{{ getLang(_fields['metadata'][field]['label']) }}{% endverbatim %}</strong><br/><span [innerHTML]="_object[field]"></span></p>
                    </div>
                </ng-template>
            </div>
        </div>
        {% if entityDetail_status %}
            <div *ngIf="hasInsertInfo" class="col col-md-3">
                <div class="card bg-light">
                    <div class="card-body">
                        <p><span [innerHTML]="_object['isEnabled']"></span>&nbsp;<strong>{% verbatim %}{{ getLang(_fields['metadata']['isEnabled']['label']) }}{% endverbatim %}</strong></p>
                        <p><strong>{% verbatim %}{{ getLang(_fields['metadata']['insertTime']['label']) }}{% endverbatim %}</strong><br/><span [innerHTML]="_object['insertTime']"></span></p>
                        <p><strong>{% verbatim %}{{ getLang(_fields['metadata']['insertUser']['label']) }}{% endverbatim %}</strong><br/><span [innerHTML]="_object['insertUser']"></span></p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div></div>
</ng-template>
{% block afterContainer %}{% endblock %}