{# This template is called directy from angular, so we need to simulate the controller response conf #}
{% set _localData = {
    "template": {
        "class": "form-horizontal form-control-box -embed-form",
        "hasHeader" : false
    }
} %}

{% set dataBoxDefault_hasHeader = false %}
{% set dataBoxDefault_hasActions = false %}

{% block header_container %}{% endblock %}

{% extends 'AppBundle:data-box:default.html.twig' %}
{% block dataBoxDefault_container %}
    <td class="row"><div class="col-sm-12">
        <div class="form-group">
            <div class="col-sm-12">
                <div class="badge badge-primary -badge-md pull-right">
                    <ng-template [ngIf]="obj['isOptional']">
                        <label><input type="checkbox"
                               [name]="'form[isOptional][' + obj['packageServiceServiceObj'] + ']'"
                               value="1"
                               [(ngModel)]="obj['hasOptional']"/><span class="txt-normal">&nbsp;Include</span></label>
                    </ng-template>
                    <ng-template [ngIf]="!obj['isOptional']">
                        <i class="fa fa-check"></i><span class="txt-normal">&nbsp;Included</span>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3" [innerHTML]="obj['thumbnail']"></div>
            <div class="col-sm-9">
                <span [innerHTML]="obj['icon']"></span>
                <span class="font-bold" [innerHTML]="obj['name']"></span>
                <div class="height52" [innerHTML]="obj['description']"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <strong>From</strong>
                <div>
                    <div class="dsp-inline-block" [innerHTML]="obj['startDate']"></div>
                    <ng-template [ngIf]="obj['isAutoAvailability']
                                         && obj['isEnabledAvailability']">
                        {% embed 'AppBundle:popover:default.html.twig' with {'position': 'bottom', 'popoverClass': 'dsp-inline-block valign-top'} %}
                            {% block popover_header %}Available dates{% endblock %}
                            {% block popover_container %}
                                <ng-template [ngIf]="getControlDebug(objIndex, 'availability')">
                                    <div *ngFor="let dataRange of getControlDebug(objIndex, 'availability');">
                                        <strong>From</strong>&nbsp;{% verbatim %}{{dataRange['startDate']}}{% endverbatim %}&nbsp;<strong>To</strong>&nbsp;{% verbatim %}{{dataRange['endDate']}}{% endverbatim %}
                                    </div>
                                </ng-template>
                            {% endblock %}
                        {% endembed %}
                    </ng-template>
                </div>
            </div>
            <div class="col-sm-3">
                <strong>To</strong><div [innerHTML]="obj['endDate']"></div>
            </div>
            <div class="col-sm-3 txt-align-r">
                <strong>Quantity</strong>
                <div>
                    <div class="dsp-inline-block" [innerHTML]="obj['quantity']"></div>
                    <ng-template [ngIf]="obj['isAutoAllot']
                                         && getControlDebug(objIndex, 'allotDebug')['status']
                                         && (getControlDebug(objIndex, 'allotDebug')['status'] != 'YES')">
                        {% embed 'AppBundle:popover:default.html.twig' with {'position': 'bottom', 'align': 'middle', 'popoverClass': 'dsp-inline-block valign-top'} %}
                            {% block popover_header %}Missing allot{% endblock %}
                            {% block popover_container %}
                                <div *ngFor="let debugDetail of getControlDebug(objIndex, 'allotDebug')['detail'];">
                                    <ng-template [ngIf]="debugDetail['status'] != 'YES'">
                                        <span class="status -{% verbatim %}{{ _statusMap[debugDetail['status']] || 'danger' }}{% endverbatim %}"></span><span
                                        >&nbsp;{% verbatim %}{{debugDetail['date']}}{% endverbatim %}</span><span
                                        >&nbsp;({% verbatim %}{{debugDetail['free'] - obj['quantity']}}{% endverbatim %})</span>
                                    </ng-template>
                                </div>
                            {% endblock %}
                        {% endembed %}
                    </ng-template>
                </div>
            </div>
            <div class="col-sm-3 txt-align-r">
                <strong>Price</strong><div [innerHTML]="obj['totalSell']"></div>
            </div>
        </div>
        <div class="form-group" *ngIf="obj['isEnabledAvailability'] || obj['isEnabledAllot'] || obj['isEnabledPrice']">
            <div class="col-sm-3">
                <button class="btn"
                        type="button"
                        (click)="debugAction(objIndex, $event)">Debug</button>
            </div>
            <div class="col-sm-3 chkStatus" *ngIf="obj['isEnabledAvailability']">
                <div class="checkbox"><label><input type="checkbox"
                                                    [name]="'form[isAutoAvailability][' + obj['packageServiceServiceObj'] + ']'"
                                                    value="1"
                                                    [(ngModel)]="obj['isAutoAvailability']">&nbsp;Is auto availability</label></div>
                {% verbatim %}&nbsp;<span
                            *ngIf="obj['isAutoAvailability']"
                            class="status -{{ _statusMap[getControlDebug(objIndex, 'availabilityDebug')['status']] || 'danger' }}"></span>{% endverbatim %}
            </div>
            <div class="col-sm-3 chkStatus" *ngIf="obj['isEnabledAllot']">
                <div class="checkbox"><label><input type="checkbox"
                                                    [name]="'form[isAutoAllot][' + obj['packageServiceServiceObj'] + ']'"
                                                    value="1"
                                                    [(ngModel)]="obj['isAutoAllot']">&nbsp;Is auto allot</label></div>
                {% verbatim %}&nbsp;<span
                            *ngIf="obj['isAutoAllot']"
                            class="status -{{ _statusMap[getControlDebug(objIndex, 'allotDebug')['status']] || 'danger' }}"></span>{% endverbatim %}
            </div>
            <div class="col-sm-3 chkStatus" *ngIf="obj['isEnabledPrice']">
                <div class="checkbox"><label><input type="checkbox"
                                                    [name]="'form[isAutoPrice][' + obj['packageServiceServiceObj'] + ']'"
                                                    value="1"
                                                    [(ngModel)]="obj['isAutoPrice']">&nbsp;Is auto price</label></div>
                {% verbatim %}&nbsp;<span
                            *ngIf="obj['isAutoPrice']"
                            class="status -{{ _statusMap[getControlDebug(objIndex, 'priceDebug')['status']] || 'danger' }}"></span>{% endverbatim %}
            </div>
        </div>
    </div></td>
{% endblock %}

{% block footer %}{% endblock %}

{% block after_container %}
    <div class="row m-t-md">
        <div class="col-sm-10 col-sm-offset-2">
            <button class="btn-primary btn"
                    type="button"
                    (click)="changeAction($event)"><i class="fa fa-check"></i>&nbsp;Change</button>
        </div>
    </div>
{% endblock %}