{% set form = (form is defined ? form : (_form is defined ? _form : null)) %}
{% set fields = (fields is defined ? fields : (_conf['fields'] is defined ? _conf['fields'] : null)) %}
{% if (form and fields) %}

    {% set documentForm = (
        (fields['metadata']['code']['parent'] is defined and fields['metadata']['code']['parent'] is not null)
        ? form[fields['metadata']['code']['parent']]
        : form
    ) %}

    <div class="row">
        <div class="col-sm-6">
            <img *ngIf="_dataService.getLocalDataAttr('storeLogo')"
                 height="96"
                 alt="logo"
                 class="m-b-md"
                 [src]="_helperService.getUploadWebPath(_dataService.getLocalDataAttr('storeLogo'), 'resize_96')">
            <address>
                <strong>{{'{{_formService.getObject().storeLegalName}}'}}</strong><br>
                {% for field in ['storeStreet1', 'storeStreet2', 'storePostCode', 'storeRegion'] %}<ng-template
                    [ngIf]="_formService.getObject().{{field}}"
                    ><span>{{'{{_formService.getObject().' ~ field ~ '}}'}}{% if (field == 'storePostCode') %} {{'{{_formService.getObject().storeCity}}'}}{% endif %}</span><br></ng-template>{% endfor %}
            </address>
            <ng-template ngFor let-field [ngForOf]="_dataService.getLocalDataAttr('storeInfo')"><span
                    [innerHtml]="field"></span><br></ng-template>
            <p class="m-t-sm">Tax Number: {{'{{_formService.getObject().storeTaxNumber}}'}}</p>
        </div>
        <div class="col-sm-6">
            <h3 *ngIf="_formService.getObject().code" class="document-number text-right"><span>{{'{{_formService.getObject().documentType_name}}'}}:&nbsp;</span>{% include 'AppBundle:form:input.html.twig' with {
                'field': 'code',
                'formField': documentForm['code'],
                'metadata': fields['metadata']['code']
            } %}</h3>
            <table class="table document-dates">
                <tbody>
                <tr>
                    <td><strong>Date:</strong></td>
                    <td>{% include 'AppBundle:form:input.html.twig' with {
                        'field': 'date',
                        'formField': documentForm['date'],
                        'metadata': fields['metadata']['date']
                    } %}</td>
                </tr>
                {% block dueDate %}<tr>
                    <td><strong>Due Date:</strong></td>
                    <td>{% include 'AppBundle:form:input.html.twig' with {
                        'field': 'dueDate',
                        'formField': documentForm['dueDate'],
                        'metadata': fields['metadata']['dueDate']
                    } %}</td>
                </tr>{% endblock %}
                </tbody>
            </table>

            <div class="">
                <span class="">To:</span>
                <div class="document-entity mt-1">
                    <span *ngIf="_formService.getObject().entity_avatar"
                          [innerHTML]="_formService.getViewObject().entity_avatar" class="pr-1"></span>
                    <address>
                        <strong>{{'{{_formService.getObject().entityLegalName}}'}}</strong><br>
                        <div class="m-t-xs m-b-xs">
                            {% include 'AppBundle:form:input.html.twig' with {
                                'field': 'entityAddressObj',
                                'formField': documentForm['entityAddressObj'],
                                'metadata': fields['metadata']['entityAddressObj']
                            } %}
                        </div>
                        {% for field in ['entityStreet1', 'entityStreet2', 'entityPostCode', 'entityRegion'] %}<ng-template
                            [ngIf]="_formService.getObject().{{field}}"
                            ><span>{{'{{_formService.getObject().' ~ field ~ '}}'}}{% if (field == 'entityPostCode') %} {{'{{_formService.getObject().entityCity}}'}}{% endif %}</span><br></ng-template>{% endfor %}
                    </address>
                </div>
            </div>
            <p class="mt-2">Tax Number: {{'{{_formService.getObject().entityTaxNumber}}'}}</p>
        </div>
    </div>

    <div class="mt-2 mb-4">
        <span>Comments</span>
        <div class="border rounded document-comments">{% include 'AppBundle:form:input.html.twig' with {
            'field': 'comments',
            'formField': documentForm['comments'],
            'metadata': fields['metadata']['comments']
        } %}</div>
    </div>

    {% block detail %}
        <section><ng-template #js_lazyLoadContainer></ng-template></section>
    {% endblock %}

    {% block total %}<div class="row">
        <div class="col-sm-8">
            <ng-template [ngIf]="_dataService.getLocalDataAttr('totalVatSplitByCode')">
            <span>TAX Resume</span>
            <div class="border rounded document-tax-resume">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Percentage</th>
                        <th>Net</th>
                        <th>TAX</th>
                        <th>Total</th>
                    </tr>
                    <tr *ngFor="let obj of _dataService.getLocalDataAttr('totalVatSplitByCode')">
                        <td>{% verbatim %}{{ obj['name'] }}{% endverbatim %}</td>
                        <td>{% verbatim %}{{ obj['description'] }}{% endverbatim %}</td>
                        <td class="text-right">{% verbatim %}{{ obj['percentage'] }}%{% endverbatim %}</td>
                        <td class="text-right">{% verbatim %}{{ obj['subTotal'] }}{% endverbatim %}</td>
                        <td class="text-right">{% verbatim %}{{ obj['totalVat'] }}{% endverbatim %}</td>
                        <td class="text-right">{% verbatim %}{{ obj['total'] }}{% endverbatim %}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </ng-template>
        </div>
        <div class="col-sm-4">
            <table class="table document-total">
                <tbody>
                <tr>
                    <td><strong>Sub Total:</strong></td>
                    <td>{% include 'AppBundle:form:input.html.twig' with {
                            'field': 'subTotal',
                            'formField': documentForm['subTotal'],
                            'metadata': fields['metadata']['subTotal']
                        } %}</td>
                </tr>
                <tr>
                    <td><strong>TAX:</strong></td>
                    <td>{% include 'AppBundle:form:input.html.twig' with {
                            'field': 'totalVat',
                            'formField': documentForm['totalVat'],
                            'metadata': fields['metadata']['totalVat']
                        } %}</td>
                </tr>
                <tr>
                    <td><strong>Total:</strong></td>
                    <td>{% include 'AppBundle:form:input.html.twig' with {
                            'field': 'total',
                            'formField': documentForm['total'],
                            'metadata': fields['metadata']['total']
                        } %}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>{% endblock %}

    <div *ngIf="_dataService.getLocalDataAttr('documentInfo') && _dataService.getLocalDataAttr('documentInfo')['footer']"
         class="mt-2 bg-light p-3"
         [innerHTML]="_dataService.getLocalDataAttr('documentInfo')['footer']"></div>
{% endif %}