<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        {% block title %}
            WebOffice
            {% if _conf['menu'] is defined %}
                {{ ' | ' ~ app.session.get('_app.modules')[_conf['module']].getAttr('name') }}
                {% if (app.session.get('_app.modules')[_conf['module']].getAttr('moduleMenuObjs'))|length > 1 %}
                    {{ ' | ' ~ app.session.get('_app.modules')[_conf['module']].getAttr('moduleMenuObjs')[_conf['menu']].getAttr('name') }}
                {% endif %}
            {% endif %}
        {% endblock %}
    </title>

    {# Use default in output for action, to make fonts path compatible with all actions that uses the base sass file #}
    {% block stylesheets %}
        {% stylesheets output="assets/app/base/default/css/local.css"
        '@AppBundle/Resources/public/app-basics/default/scss/dist/styles.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    {% block vendor_stylesheets %}
        {% stylesheets output="assets/app/base/default/css/vendor.css"
        '@metismenu_css'
        '@toastr_css'
        '@AppBundle/Resources/public/scripts/plugins/gritter/jquery.gritter.css'
        '@AppBundle/Resources/public/styles/animate.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    {% image '@AppBundle/Resources/public/images/favicon.ico' output='favicon.ico' %}
    <link rel="icon" type="image/x-icon" href="{{ asset_url }}" />
    {% endimage %}

    {% block head_javascripts %}
        {% include 'AppBundle:partial:app-javascript-vars.html.twig' %}
    {% endblock %}
</head>

<body>
<div class="container-fluid p-0 m-0">
    <div class="row flex-nowrap no-gutters">
        <div class="col-auto left-sidebar">
            <div class="container p-0 left-sidebar-container">
                {% include 'AppBundle:partial:left-sidebar.html.twig' %}
            </div>
        </div>
        <div class="col bg-light main-container">
            <div class="container-fluid main-container-container">
                {% include 'AppBundle:partial:top-sidebar.html.twig' %}

                {% block breadcrumb %}
                    {% include 'AppBundle:partial:breadcrumb.html.twig'
                    with { '_breadcrumb': app.session.get('_app.breadcrumb')}
                    %}
                {% endblock %}

                {% block before_container %}{% endblock %}

                {% block header %}
                    <div class="row border-bottom white-bg"><div
                                class="col-12">{% block header_container %}{% endblock %}</div></div>
                {% endblock %}

                {% block body %}
                    <div class="row wrapper-content main-body-container"><div class="col-12">{% block body_container %}
                        <div class="js_appBasics"></div>
                        <div class="js_app"></div>
                    {% endblock %}</div></div>
                {% endblock %}

                {# include 'AppBundle:partial:footer.html.twig' #}
            </div>
        </div>
    </div>
</div>

{% block after_container %}{% endblock %}

<div class="modal-backdrop snipped js_loader"></div>

{% block vendor_javascripts %}
    {#
        '@jquery_lazy' for images lazy load
        '@popper'
        '@bootstrap'
    #}
    {% javascripts output="assets/app/base/js/vendor.js"
    '@jquery'
    '@metismenu'

    '@AppBundle/Resources/public/scripts/plugins/pace/pace.min.js'

    '@AppBundle/Resources/public/js/app/app.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block javascripts %}
    {# PUT HERE YOUR LOCAL JAVASCRIPT (ANGULAR APP/MODULE)
    {% javascripts output="assets/my-bundle/my-controller/my-action/js/local.js"
        '@MyBundle/Resources/public/my-controller/my-action/ts/dist/inline.bundle.js'
        '@MyBundle/Resources/public/my-controller/my-action/ts/dist/polyfills.bundle.js'
        '@MyBundle/Resources/public/my-controller/my-action/ts/dist/vendor.bundle.js'
        '@MyBundle/Resources/public/my-controller/my-action/ts/dist/main.bundle.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts #}
{% endblock %}
</body>
</html>