{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets output="assets/entities/entity/detail/css/local.css"
    '@EntitiesBundle/Resources/public/entity/detail/scss/dist/styles.css'
    '@dropzone_css'
    '@cropper_css'
    '@videojs_css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="stylesheet" href="{{ asset('assets/vendor/blueimp-gallery/css/blueimp-gallery.min.css') }}" />
{% endblock %}

{% block head_javascripts %}
    {{ parent() }}

    {% set parentId = (_conf['object']['entityObj'] is defined
        ? _conf['object']['entityObj']
        : _conf['object']['id'])
    %}

    {% set entityAddressData = render(controller(
        'EntitiesBundle:EntityAddress:dataChild',
        {'parents': {'entity': parentId}, 'responseType': 'json'}
    )) %}

    {% set entityPhoneData = render(controller(
        'EntitiesBundle:EntityPhone:dataChild',
        {'parents': {'entity': parentId}, 'responseType': 'json'}
    )) %}

    {% set entityEmailData = render(controller(
        'EntitiesBundle:EntityEmail:dataChild',
        {'parents': {'entity': parentId}, 'responseType': 'json'}
    )) %}

    {% set entityLinkData = render(controller(
        'EntitiesBundle:EntityLink:dataChild',
        {'parents': {'entity': parentId}, 'responseType': 'json'}
    )) %}
    <script>
        _app.dependency.entityAddress = {{ entityAddressData|raw }};
        _app.dependency.entityPhone = {{ entityPhoneData|raw }};
        _app.dependency.entityEmail = {{ entityEmailData|raw }};
        _app.dependency.entityLink = {{ entityLinkData|raw }};
    </script>
{% endblock %}

{% block header_container %}
    {% include 'AppBundle:partial:entity-detail.html.twig' with {
        'object': _conf['object'],
        'fields': _conf['fields']
    } %}
{% endblock %}

{% block after_container %}
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
{% endblock %}

{% block vendor_javascripts %}
    {{ parent() }}

    {% javascripts output="assets/entities/entity/detail/js/vendor.js"
        '@cropper_js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{%  block javascripts %}
    {% javascripts output="assets/entities/entity/detail/js/local.js"
        '@EntitiesBundle/Resources/public/entity/detail/ts/dist/inline.bundle.js'
        '@EntitiesBundle/Resources/public/entity/detail/ts/dist/polyfills.bundle.js'
        '@EntitiesBundle/Resources/public/entity/detail/ts/dist/vendor.bundle.js'
        '@EntitiesBundle/Resources/public/entity/detail/ts/dist/main.bundle.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}