{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets output="assets/entities/entity-image/profile/css/local.css"
    '@BckEntitiesBundle/Resources/public/entity-image/profile/scss/dist/styles.css'
    '@dropzone_css'
    '@cropper_css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="stylesheet" href="{{ asset('assets/vendor/blueimp-gallery/css/blueimp-gallery.min.css') }}" />
{% endblock %}

{% block header %}{% endblock %}

{% block body_container %}
    <div class="js_appBasics"></div>
    <div class="js_image"></div>
{% endblock %}

{% block after_container %}
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
{% endblock %}

{% block vendor_javascripts %}
    {{ parent() }}

    {% javascripts output="assets/entities/entity-image/profile/js/vendor.js"
        '@cropper_js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{%  block javascripts %}
    {% javascripts output="assets/entities/entity-image/profile/js/local.js"
        '@BckEntitiesBundle/Resources/public/entity-image/profile/ts/dist/inline.bundle.js'
        '@BckEntitiesBundle/Resources/public/entity-image/profile/ts/dist/polyfills.bundle.js'
        '@BckEntitiesBundle/Resources/public/entity-image/profile/ts/dist/vendor.bundle.js'
        '@BckEntitiesBundle/Resources/public/entity-image/profile/ts/dist/main.bundle.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}