{% if (_containers is defined) %}
    <nav>
        <div class="nav nav-tabs" role="tablist">
            {% for key, value in _containers %}
                <a class="nav-item nav-link"
                   role="tab"
                   (click)="_navManagerService.navToAction({{key}})"
                   [class.active]="{{key}} == _navManagerService.getIndex()"
                   [attr.data-index]="{{key}}"
                   {# href="#tab{{key}}"#}>{{value['label']}}</a>
            {% endfor %}
        </div>
    </nav>
    <div class="tab-content">
        {% for key, value in _containers %}
            <div class="tab-pane p-3 fade js_lazyLoadContainer_{{key}}"
                 {# id="tab{{key}}" #}
                 role="tabpanel"
                 [class.show]="{{key}} == _navManagerService.getIndex()"
                 [class.active]="{{key}} == _navManagerService.getIndex()">
                <ng-template #js_lazyLoadContainer></ng-template>
            </div>
        {% endfor %}
    </div>
{% endif %}