{% if (field is defined) and (formField is defined) %}
    <div class="html-select"
         [htmlSelect]="'{{field}}'"
         {% if (formField.vars.attr is defined) %}
             {% for attr, value in formField.vars.attr %}{{attr}}="{{value}}"{% endfor %}
         {% endif %}>
        <div class="input-group-control"
             [class.error]="_formService.getErrors()['{{field}}'] && (_formService.getErrors()['{{field}}'].length > 0)">
            <span class="js_label form-control"></span>
            <a class="pull-right"><i class="fa fa-angle-down"></i></a>
        </div>
        <div class="choices js_choices">
            <ul class="form-control-box">{% block choices %}{% endblock %}</ul>
        </div>
    </div>
    <input [(ngModel)]="_formService.getObject().{{field}}"
           formControlName = {{field}}
           name="{{formField.vars.full_name}}"
           {% if formField.vars.required %}required="required"{% endif %}
           type="hidden">
    {% do formField.setRendered %}
{% endif %}