{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets output="assets/home/default/index/css/local.css"
    '@HomeBundle/Resources/public/default/index/scss/dist/styles.css'
    '@fullcalendar_css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block head_javascripts %}
    {{ parent() }}
    {% set userCalendarData = render(controller(
        'UserBundle:UserCalendar:dataForHome',
        {'responseType': 'json'}
    )) %}
    <script>
        _app.dependency.userCalendar = {{ userCalendarData|raw }};
    </script>
{% endblock %}

{% block header_container %}
    <div class="row align-items-center">
        <div class="col-auto">
            <div class="d-inline-block my-3 ml-3"><img alt="Avatar" class="img-circle" src="{{app.session.get('_app.user')['avatar']}}"/></div>
        </div>
        <div class="col">
            <h2 class="d-inline-block">Welcome {{ app.session.get('_app.user')['name'] }}</h2>
        </div>
    </div>
{% endblock %}

{% block vendor_javascripts %}
    {{ parent() }}

    {% javascripts output="assets/home/default/index/js/vendor.js"
        '@moment_js'
        '@fullcalendar_js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block javascripts %}
    {# if (asset_exists('@HomeBundle/Resources/public/default/index/ts/dist/vendor.bundle.js')) #}
    {% javascripts output="assets/home/default/index/js/local.js"
        '@HomeBundle/Resources/public/default/index/ts/dist/inline.bundle.js'
        '@HomeBundle/Resources/public/default/index/ts/dist/polyfills.bundle.js'
        '@HomeBundle/Resources/public/default/index/ts/dist/vendor.bundle.js'
        '@HomeBundle/Resources/public/default/index/ts/dist/main.bundle.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{# else %}
    {% javascripts output="assets/home/default/index/js/local.js"
        '@HomeBundle/Resources/public/default/index/ts/dist/inline.bundle.js'
        '@HomeBundle/Resources/public/default/index/ts/dist/polyfills.bundle.js'
        '@HomeBundle/Resources/public/default/index/ts/dist/main.bundle.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endif #}
{% endblock %}