{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets filter="scssphp" output="assets/home/default/index/css/all.css"
        '@fullcalendar_css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block head_javascripts %}
    {{ parent() }}
    {% set userCalendarData = render(controller(
        'UserBundle:UserCalendar:dataForHome'
    )) %}
    <script>
        _app.dependency.userCalendar = {{ userCalendarData|raw }};
    </script>
{% endblock %}

{% block header_container %}
    <div class="row">
        <div class="col-sm-12">
            <h2>Welcome {{ app.session.get('_app.user')['name'] }}</h2>
        </div>
    </div>
{% endblock %}

{% block vendor_javascripts %}
    {{ parent() }}

    {% javascripts output="assets/home/default/index/js/vendor.js"
        '@moment_js'
        '@fullcalendar_js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block local_javascripts %}
    {# if (asset_exists('@HomeBundle/Resources/public/default/index/ts/dist/vendor.bundle.js')) #}
        {% javascripts output="assets/home/default/index/js/local.js"
            '@HomeBundle/Resources/public/default/index/ts/dist/inline.bundle.js'
            '@HomeBundle/Resources/public/default/index/ts/dist/polyfills.bundle.js'
            '@HomeBundle/Resources/public/default/index/ts/dist/vendor.bundle.js'
            '@HomeBundle/Resources/public/default/index/ts/dist/main.bundle.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {# else %}
        {% javascripts output="assets/home/default/index/js/local.js"
            '@HomeBundle/Resources/public/default/index/ts/dist/inline.bundle.js'
            '@HomeBundle/Resources/public/default/index/ts/dist/polyfills.bundle.js'
            '@HomeBundle/Resources/public/default/index/ts/dist/main.bundle.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif #}
{% endblock %}