{% set form = (form is defined ? form : (_form is defined ? _form : null)) %}
{% set fields = (fields is defined ? fields : (_conf['fields'] is defined ? _conf['fields'] : null)) %}
{% if (form and fields) %}

    {% set currentAccountForm = (
        (fields['metadata']['code']['parent'] is defined and fields['metadata']['code']['parent'] is not null)
        ? form[fields['metadata']['code']['parent']]
        : form
    ) %}

    <div class="row">
        <div class="col-sm-6">
            <address>
                <strong>{{'{{_formService.getObject().storeLegalName}}'}}</strong><br>
                {% for field in ['storeStreet1', 'storeStreet2', 'storePostCode', 'storeRegion'] %}<template
                    [ngIf]="_formService.getObject().{{field}}"
                    ><span>{{'{{_formService.getObject().' ~ field ~ '}}'}}{% if (field == 'storePostCode') %} {{'{{_formService.getObject().storeCity}}'}}{% endif %}</span><br></template>{% endfor %}
            </address>
            <template
                ngFor let-field [ngForOf]="_dataService.getProviderAttr('localData')['storeInfo']"><span
                    [innerHtml]="field"></span><br></template>
            <p class="m-t-sm">Tax Number: {{'{{_formService.getObject().storeTaxNumber}}'}}</p>
        </div>
        <div class="col-sm-6">
            <h3 *ngIf="_formService.getObject().code" class="document-number text-right"><span>Invoice No: </span>{% include 'AppBundle:form:input.html.twig' with {
                'field': 'code',
                'formField': currentAccountForm['code'],
                'metadata': fields['metadata']['code']
            } %}</h3>
            <table class="table document-dates">
                <tbody>
                <tr>
                    <td><strong>Date:</strong></td>
                    <td>{% include 'AppBundle:form:input.html.twig' with {
                        'field': 'date',
                        'formField': currentAccountForm['date'],
                        'metadata': fields['metadata']['date']
                    } %}</td>
                </tr>
                <tr>
                    <td><strong>Due Date:</strong></td>
                    <td>{% include 'AppBundle:form:input.html.twig' with {
                        'field': 'dueDate',
                        'formField': currentAccountForm['dueDate'],
                        'metadata': fields['metadata']['dueDate']
                    } %}</td>
                </tr>
                </tbody>
            </table>

            <div class="dsp-table">
                <span class="pd-r-xs">To:</span>
                <div class="document-entity m-t-xs">
                    <span *ngIf="_formService.getObject().entity_avatar" [innerHTML]="_formService.getViewObject().entity_avatar" class="pd-r-xs"></span>
                    <address>
                        <strong>{{'{{_formService.getObject().entityLegalName}}'}}</strong><br>
                        <div class="m-t-xs m-b-xs">
                            {% include 'AppBundle:form:input.html.twig' with {
                                'field': 'entityAddressObj',
                                'formField': currentAccountForm['entityAddressObj'],
                                'metadata': fields['metadata']['entityAddressObj']
                            } %}
                        </div>
                        {% for field in ['entityStreet1', 'entityStreet2', 'entityPostCode', 'entityRegion'] %}<template
                            [ngIf]="_formService.getObject().{{field}}"
                            ><span>{{'{{_formService.getObject().' ~ field ~ '}}'}}{% if (field == 'entityPostCode') %} {{'{{_formService.getObject().entityCity}}'}}{% endif %}</span><br></template>{% endfor %}
                    </address>
                </div>
            </div>
            <p class="m-t-sm">Tax Number: {{'{{_formService.getObject().entityTaxNumber}}'}}</p>
        </div>
    </div>

    <div class="m-t-sm">
        <span>Comments</span>
        <div class="well document-comments">{% include 'AppBundle:form:input.html.twig' with {
            'field': 'comments',
            'formField': currentAccountForm['comments'],
            'metadata': fields['metadata']['comments']
        } %}</div>
    </div>

    <section><template #js_lazyLoadContainer></template></section>

    <div class="row">
        <div class="col-sm-8">
            <template [ngIf]="_dataService.getProviderAttr('localData')['totalVatSplitByCode']">
            <span>TAX Resume</span>
            <div class="well document-tax-resume">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Percentage</th>
                        <th>Net</th>
                        <th>TAX</th>
                        <th>Total</th>
                    </tr>
                    <tr *ngFor="let obj of _dataService.getProviderAttr('localData')['totalVatSplitByCode']">
                        <td>{% verbatim %}{{ obj['name'] }}{% endverbatim %}</td>
                        <td>{% verbatim %}{{ obj['description'] }}{% endverbatim %}</td>
                        <td class="text-right">{% verbatim %}{{ obj['percentage'] }}%{% endverbatim %}</td>
                        <td class="text-right">{% verbatim %}{{ obj['subTotal'] }}{% endverbatim %}</td>
                        <td class="text-right">{% verbatim %}{{ obj['totalVat'] }}{% endverbatim %}</td>
                        <td class="text-right">{% verbatim %}{{ obj['total'] }}{% endverbatim %}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </template>
        </div>
        <div class="col-sm-4">
            <table class="table document-total">
                <tbody>
                <tr>
                    <td><strong>Sub Total:</strong></td>
                    <td>{% include 'AppBundle:form:input.html.twig' with {
                        'field': 'subTotal',
                        'formField': currentAccountForm['subTotal'],
                        'metadata': fields['metadata']['subTotal']
                        } %}</td>
                </tr>
                <tr>
                    <td><strong>TAX:</strong></td>
                    <td>{% include 'AppBundle:form:input.html.twig' with {
                        'field': 'totalVat',
                        'formField': currentAccountForm['totalVat'],
                        'metadata': fields['metadata']['totalVat']
                        } %}</td>
                </tr>
                <tr>
                    <td><strong>TOTAL:</strong></td>
                    <td>{% include 'AppBundle:form:input.html.twig' with {
                        'field': 'total',
                        'formField': currentAccountForm['total'],
                        'metadata': fields['metadata']['total']
                        } %}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="well m-t">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
    </div>
{% endif %}