<template [ngIf]="_object && _object['id']">
    <div class="row">
        <div class="col-sm-9">
            <h2 class="valign-div-container"><span [innerHTML]="_object['code'] || _object['id']"></span><span *ngIf="_object['name']">&nbsp;&nbsp;@&nbsp;&nbsp;{% verbatim %}{{ _object['name'] }}{% endverbatim %}</span><a
                    *ngIf="_actionsService.getActionAttr('edit', 'isEnabled')"
                    [ngClass]="[_actionsService.getActionAttr('edit', 'icon')]"
                    class="action valign-div-component valign-div-component-middle -round fa"
                    (click)="editAction($event, 'edit')"></a></h2>
            <div class="row m-l-xs">
                <template ngFor let-field [ngForOf]="_fields">
                    <div class="col-sm-6"
                         *ngIf="!_helperService.inArray(field, ['id', 'code', 'name', 'isEnabled', 'insertTime', 'insertUser']) && _object[field]">
                        <p *ngIf="_helperService.inArray(_fieldsMetadata[field]['type'], ['number', 'percentage', 'monetary', 'icon'])"><strong>{% verbatim %}{{ _fieldsMetadata[field]['label'] }}{% endverbatim %}</strong>:&nbsp;<span [innerHTML]="_object[field]"></span></p>
                        <p *ngIf="_helperService.inArray(_fieldsMetadata[field]['type'], ['boolean', 'status'])"><span [innerHTML]="_object[field]"></span>&nbsp;<strong>{% verbatim %}{{ _fieldsMetadata[field]['label'] }}{% endverbatim %}</strong></p>
                        <p *ngIf="_helperService.inArray(_fieldsMetadata[field]['type'], ['avatar', 'img'])"><span [innerHTML]="_object[field]"></span></p>
                        <p *ngIf="!_helperService.inArray(_fieldsMetadata[field]['type'], ['number', 'percentage', 'monetary', 'status', 'icon', 'boolean', 'avatar', 'img'])"><strong>{% verbatim %}{{ _fieldsMetadata[field]['label'] }}{% endverbatim %}</strong><br/><span [innerHTML]="_object[field]"></span></p>
                    </div>
                </template>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="well m-b-sm m-t-md">
                <p><span [innerHTML]="_object['isEnabled']"></span>&nbsp;<strong>{% verbatim %}{{ _fieldsMetadata['isEnabled']['label'] }}{% endverbatim %}</strong></p>
                <p><strong>{% verbatim %}{{ _fieldsMetadata['insertTime']['label'] }}{% endverbatim %}</strong><br/><span [innerHTML]="_object['insertTime']"></span></p>
                <p><strong>{% verbatim %}{{ _fieldsMetadata['insertUser']['label'] }}{% endverbatim %}</strong><br/><span [innerHTML]="_object['insertUser']"></span></p>
            </div>
        </div>
    </div>
</template>