{% if ( (object is defined) and (fields is defined) ) %}
    {% set entityDetail_status = (entityDetail_status is defined ? entityDetail_status : true) %}
    <div class="container-fluid py-3"><div class="row">
        <div class="col col-md-{{entityDetail_status ? 9 : 12}}">
            {% if ((object['code'] is defined) or (object['name'] is defined)) %}
                <div class="row">
                    <h2 class="col-12 valign-div-container">{{ (object['code'] is defined) ? object['code'] : '' }}{{ ((object['code'] is defined) and (object['name'] is defined)) ? '&nbsp;&nbsp;&commat;&nbsp;&nbsp;'|raw : '' }}{{ (object['name'] is defined) ? object['name'] : '' }}</h2>
                </div>
            {% endif %}
            <div class="row">
                {% for field in fields['view']
                   if ((field not in ['id', 'code', 'name', 'isEnabled', 'insertTime', 'insertUser'])
                       and (object[field] is defined)
                       and object[field]
                   )
                %}
                    {% set fieldMetadata = fields['metadata'][field]  %}
                    <div class="col col-md-6">
                        {% if fieldMetadata['type'] == 'number' %}
                            <p><strong>{{ fieldMetadata['label'] }}</strong>:&nbsp;{{ object[field] }}</p>
                        {% elseif fieldMetadata['type'] == 'boolean' %}
                            <p>{{ (object[field]
                                ? '<i class="fa fa-check"></i>'
                                : '<i class="fa fa-ban"></i>')|raw }}&nbsp;<strong>{{ fieldMetadata['label'] }}</strong></p>
                        {% elseif fieldMetadata['type'] == 'icon' %}
                            <p><strong>{{ fieldMetadata['label'] }}</strong>:&nbsp;<i class="fa {{ object[field] }}"></i></p>
                        {% elseif fieldMetadata['type'] in ['avatar', 'img'] %}
                            {% set url = (('/upload/' in object[field])
                                ? ('/upload/' ~ (object[field]|split('/upload/', 2))[1])
                                : object[field]) %}
                            {% set extraClass = ((fieldMetadata['type'] == 'avatar') ? 'img-circle' : 'thumbnail') %}
                            <p>{{ ('<img alt="' ~ fieldMetadata['label'] ~ '" class="' ~ extraClass ~ '" src="' ~ url ~ '">')|raw }}</p>
                        {% else %}
                            <p><strong>{{ fieldMetadata['label'] }}</strong><br/>{{ object[field] }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if entityDetail_status %}
            <div class="col col-md-3">
                <div class="card bg-light">
                    <div class="card-body">
                        <p>{{ (object['isEnabled']
                            ? '<i class="fa fa-check"></i>'
                            : '<i class="fa fa-ban"></i>')|raw }}&nbsp;<strong>{{ fields['metadata']['isEnabled']['label'] }}</strong></p>
                        <p><strong>{{ fields['metadata']['insertTime']['label'] }}</strong><br/>{{ object['insertTime'] }}</p>
                        <p><strong>{{ fields['metadata']['insertUser']['label'] }}</strong><br/>{{ object['insertUser'] }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div></div>
{% endif %}