<div class="card">
    <div class="card-header"><div class="row align-items-center">
            <h5 class="col mr-auto"
                (click)="_navManagerService.navToAction({{key}})">{{value.label}}</h5>
            {% block accordion_container_actions %}
            <div *ngIf="_navManagerService.getComponentRef({{key}}) && _navManagerService.getComponentRef({{key}}).instance._actionsService"
                 class="col-auto text-right actions no-user-select">
                <ng-template [ngIf]="_navManagerService.getComponentRef({{key}}).instance._actionsService.getActionAttr('search', 'isEnabled')">
                    <js_search [injector]="_navManagerService.getComponentRef({{key}}).instance._injector || null" class="search"></js_search>
                </ng-template>
                <div (click)="_navManagerService.getComponentRef({{key}}).instance.triggerAction($event)">
                    <ng-template ngFor let-action [ngForOf]="_navManagerService.getComponentRef({{key}}).instance._actionsService.getHeadActions()">
                        <a *ngIf="_navManagerService.getComponentRef({{key}}).instance._actionsService.getActionAttr(action, 'isEnabled')"
                           [ngClass]="[_navManagerService.getComponentRef({{key}}).instance._actionsService.getActionAttr(action, 'icon')]"
                           class="-round fa"
                           [attr.data-action]="action"></a>
                    </ng-template>
                </div>
            </div>
            {% endblock %}
        </div></div>
    {% block accordion_container_body %}
    <div class="collapse"
         [class.show]="{{key}} === _navManagerService.getIndex()">
        <div class="card-body js_lazyLoadContainer_{{key}}">
            <ng-template #js_lazyLoadContainer></ng-template>
        </div>
    </div>
    {% endblock %}
</div>