<div (click)="_navManagerService.navToAction({{key}})"
     class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion{{_id}}" href="#panel{{key}}{{_id}}">{{value.label}}</a>
        </h4>
    </div>
    <div id="panel{{key}}{{_id}}" class="panel-collapse collapse">