<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>WebOffice</title>

    <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}" />
    {% stylesheets filter="scssphp" output="assets/login/css/all.css"
        '@bootstrap3_css'
        '@AppBundle/Resources/public/styles/animate.css'
        '@AppBundle/Resources/public/styles/_style.scss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% image '@AppBundle/Resources/public/images/favicon.ico' output='favicon.ico' %}
        <link rel="icon" type="image/x-icon" href="{{ asset_url }}" />
    {% endimage %}
</head>

<body class="gray-bg">
    <div class="loginColumns animated fadeInDown">
        <div class="row">

            <div class="col-md-6">
                <h2 class="font-bold">Welcome to IN+</h2>

                <p>
                    Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
                </p>

                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>

                <p>
                    When an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>

                <p>
                    <small>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</small>
                </p>

            </div>

            <div class="col-md-6">

                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData) }}</div>
                {% endif %}

                <div class="ibox-content">
                    <form action="{{ path('_login__default__check') }}" method="post" class="m-t" role="form">
                        <div class="form-group">
                            <input type="text" name="_system" class="form-control" placeholder="System Id/Name" required="" value="{{ form.last_values._system }}">
                        </div>
                        <div class="form-group">
                            <input type="text" name="_username" class="form-control" placeholder="Username/Email" required="" value="{{ form.last_values._username }}">
                        </div>
                        <div class="form-group">
                            <input type="password" name="_password" class="form-control" placeholder="Password" required="">
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                        <a href="#">
                            <small>Forgot password?</small>
                        </a>

                        <p class="text-muted text-center">
                            <small>Do not have an account?</small>
                        </p>
                        <a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a>
                    </form>
                    <p class="m-t">
                        <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small>
                    </p>
                </div>
            </div>

        </div>

        <hr/>
        <div class="row">
            <div class="col-md-6">
                Copyright Example Company
            </div>
            <div class="col-md-6 text-right">
                <small>© 2014-2015</small>
            </div>
        </div>
    </div>
</body>
</html>