{% set size = 12 %}
{% set type = 'default' %}

{% extends 'AppBundle:tip:default.html.twig' %}

{% block head %}Price Detail{% endblock %}

{% block body %}
    <ul class="no-bullets"><li class="p-xxs" *ngFor="let price of _parentDataService.getProviderAttr('localData')['priceDebug'];">
        <span class="status -{% verbatim %}{{ _statusMap[price['status']] || 'danger' }}{% endverbatim %}"></span>&nbsp;{% verbatim %}{{price['date']}}{% endverbatim %}
        <ul><li *ngFor="let priceDetail of price['price'];">
            {% verbatim %}{{priceDetail['description']}}{% endverbatim %}:&nbsp;
            <strong>Cost:</strong>&nbsp;{% verbatim %}{{priceDetail['costValue']}}{% endverbatim %}&nbsp;<strong>Sell:</strong>&nbsp;{% verbatim %}{{priceDetail['sellValue']}}{% endverbatim %}
        </li></ul>
    </li></ul>
{% endblock %}