{% extends 'AppBundle::base.html.twig' %}

{% block head_javascripts %}
    {{ parent() }}

    {% set entitySettingData = render(controller(
        'EntitiesBundle:EntitySetting:data'
    )) %}

    {% set clientSettingData = render(controller(
        'EntitiesBundle:ClientSetting:data'
    )) %}

    {% set supplierSettingData = render(controller(
        'EntitiesBundle:SupplierSetting:data'
    )) %}
    <script>
        _app.dependency.entitySetting = {{ entitySettingData|raw }};
        _app.dependency.clientSetting = {{ clientSettingData|raw }};
        _app.dependency.supplierSetting = {{ supplierSettingData|raw }};
    </script>
{% endblock %}

{% block header %}{% endblock %}

{% block body_container %}
    <div class="js_appBasics"></div>
    <div id="js_main"></div>
{% endblock %}

{%  block local_javascripts %}
    {% javascripts output="assets/admin/settings/index/js/local.js"
        '@AdminBundle/Resources/public/settings/index/ts/dist/inline.bundle.js'
        '@AdminBundle/Resources/public/settings/index/ts/dist/polyfills.bundle.js'
        '@AdminBundle/Resources/public/settings/index/ts/dist/vendor.bundle.js'
        '@AdminBundle/Resources/public/settings/index/ts/dist/main.bundle.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}